<body id="welcome_background">
  <div class="jumbotron">
    <div class="container">
      <h1><u>About splitfare</u></h1>
      <p>Splitfare is an easy to use ride-sharing app, created by
        <a href="http://www.wescargen.com">Wes Cargen</a> for his final project
        in General Assembly's Web Development Immersive Course.</p>
    </div>
  </div>
</body>