<body id="welcome_background">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to splitfare!</h1>
      <h3>Log in or <%= link_to('sign up', new_user_registration_path) %>
        to start sharing rides!
    </div>
  </div>
</body>