/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#logged_in {
  color: white;
  margin-left: -5px;
}

#sign_up {
  color: white;
  margin-top: 5px;
}

html, body, #map-canvas {
  height: 100%;
}

#sidebar_wrapper {
  margin-top: -15px;
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #27ae60;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  padding: 5px;
}

#new_ride_form {
  margin-top: 100px;
}