<div id="sidebar_wrapper">
  <div class="sidebar_content">
    <div id="new_ride_form">
      <h3>List a new ride:</h3>
      <%= render 'new_form' %>
    </div>
    <div id="user_rides">
      <%= render 'user_rides' %>
    </div>
    <div id="upcoming_rides">
      <%= render 'nearby_rides' %>
    </div>
  </div>
</div>

<div id="map-canvas"></div>
