<div id="sidebar_wrapper">
  <div class="sidebar_content">
    <div id="new_ride_form">
      <h3>Create a new ride</h3>
      <%= render partial: "new_form" %>
    </div>
  </div>
</div>

<div id="map-canvas"></div>
